<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen, handheld"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div>
    <div id="menu">
        <div class="menu-items menu-logo">
            <img src="zonifero-logo.png">
        </div>
        <div id="menu-empty"></div>
        <div id="menu-container">
            <div class="menu-items menu-small">
                Zonifero products
            </div>
            <div class="menu-items menu-small">
                Store
            </div>
            <div class="menu-items menu-small">
                Blog
            </div>
            <div class="menu-items">
                <img src="language.png">
            </div>
            <div class="menu-items">
                Sign in
            </div>
            <div class="menu-items" id="menu-get">
                Get the app
            </div>
        </div>
    </div>
    <div id="menu2">
        <div class="menu2-items">
            zonifero WorkPlace:
        </div>
        <div class="menu2-items menu2-underline">
            Overview
        </div>
        <div class="menu2-items menu2-underline">
            Features
        </div>
        <div class="menu2-items menu2-underline">
            Specs
        </div>
        <div class="menu2-items menu2-underline">
            FAQ
        </div>
        <div class="menu2-items menu2-underline">
            Contact
        </div>
    </div>
    <div class="container1">

        <div class="container1-left">
            <div class="container1-title">
                Steamline <br>
                your workplace
            </div>
            <div class="container1-text">
                Effectively and quickly from your mobile device.<br>
                Staying connected has never been easier with<br>
                zonifero WorkPlace.
            </div>
            <div id="container1-google">
                <img src="get-it-on-google-play.png"
            </div>
            <div id="container1-app">
                <img src="get-it-on-App-Store.png">
            </div>

        </div>
        <div class="container1-phone">
            <img src="phone.png">
        </div>
    </div>
</div>
</div>
</body>
</html>
