<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="assets/styles/index.scss" media="screen, handheld"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<header>
    <div class="logo">
        <img src="assets/images/logo.png" alt="zonifero">
    </div>
    <ul class="head">
        <li class="head__items__small">
            Zonifero products
        </li>
        <li class="head__items__small">
            Store
        </li>
        <li class="head__items__small">
            Blog
        </li>

        <li class="head__items">
            <button class="">
                <img src="assets/images/globe.png">
                <img src="assets/images/down-arrow.png">
            </button>
        </li>
        <li class="head__items">
            <button>
                Sign in
            </button>
        </li>
        <li>
            <button class="head__items__get">
                Get the app
            </button>
        </li>
    </ul>
</header>
<section class="header-mobile">
    <div class="header-mobile__item">
        <img src="assets/images/logo-mobile.png">
    </div>
    <div class="header-mobile__item">
        zonifero WorkPlace
    </div>
    <div class="header-mobile__item">
        <img src="assets/images/down-arrow.png">
    </div>
    <div class="header-mobile__item">
        <img src="assets/images/ex_logo2.png">
    </div>
</section>

<ul class="navigation">
    <li class="navigation__items__first">
         zonifero WorkPlace:
    </li>
    <li class="navigation__items">
        <a href="#">Overview</a>
    </li>
    <li class="navigation__items">
        <a href="#">Features</a>
    </li>
    <li class="navigation__items">
        <a href="#">Specs</a>
    </li>
    <li class="navigation__items">
        <a href="#">FAQ</a>
    </li>
    <li class="navigation__items">
        <a href="#">Contact</a>
    </li>
</ul>
<div></div>
<section style="background-color: #F7F7F7; margin-bottom: 0vw">

    <section>

        <ul class="content-mobile">
            <li class="content-mobile__title">
                Steamline <br>
                your workplace
            </li>
        </ul>
        <ul class="content">
            <li class="content__title">
                Steamline <br>
                your workplace
            </li>
            <li class="content__text">
                Effectively and quickly from your mobile device.<br>
                Staying connected has never been easier with<br>
                zonifero WorkPlace.
            </li>
            <li class="content__google">
                <button class="content__google__button">
                    <img src="get-it-on-google-play.png" alt="Get it on google play">
                </button>
            </li>
            <li class="content__app">
                <button>
                    <img src="get-it-on-App-Store.png" alt="Get it on App Store">
                </button>
            </li>
            <li class="content__hand">
                <img src="assets/images/hand.png" alt="Phone in hand">
            </li>
            <li class="content__mob-hand">
                <img src="assets/images/mob-hand.png" >
            </li>


        </ul>
        <div class="content-mobile__text">
            Effectively and quickly from your mobile device.<br>
            Staying connected has never been easier with<br>
            zonifero WorkPlace.
        </div>
        <ul class="shop">

            <li class="shop__google">
                <button class="shop__google__button">
                    <img src="get-it-on-google-play.png" alt="Get it on google play">
                </button>
            </li>
            <li class="shop__app">
                <button class="shop__app__button">
                    <img src="get-it-on-App-Store.png" alt="Get it on App Store">
                </button>
            </li>
        </ul>
    </section>

    <ul class="members">
        <li class="members__col">
            <div class="members__col__title">
                Management
            </div>
            <div class="members__col__text">
                Tools for real-time management of all<br>
                your facilities and people across multiple<br>
                sites. Ease, speed and effectiveness of<br>
                facilities communications.
            </div>
        </li>
        <li class="members__col">
            <div class="members__col__title">
                Employees
            </div>
            <div class="members__col__text">
                Improved productivity and satisfaction as<br>
                your employees stay informed, connected<br>
                and can feed requests and updates in real<br>
                time.
            </div>
        </li>
        <li class="members__col">
            <div class="members__col__title">
                Visitors
            </div>
            <div class="members__col__text">
                A smooth and welcoming visitor<br>
                experience - easy navigation around your<br>
                facilities.
            </div>
        </li>


    </ul>
    <ul class="dots">
        <li>
            <a href="">.</a>
        </li>
        <li>
            <a href="">.</a>
        </li>
        <li>
            <a href="">.</a>
        </li>
        <li>
            <a href="">.</a>
        </li>



    </ul>


    <section class="prob-sol">
        <div class="prob-sol__header">
            Problem solving app
        </div>
        <div class="collection">
            <div class="collection__item">
                <div class="collection__item__image">
                    <img src="assets/images/mob_roblem_solving.png" alt="Computers">
                </div>
                <div class="collection__item__title">
                    Use your time<br>
                    and space smarter
                </div>
                <div class="collection__item__text">
                    Never again run out of<br>
                    coffee or other supplies.<br>
                    Create an efficient hive for<br>
                    your busy bees.
                </div>
            </div>
            <div class="collection__item">
                <div class="collection__item__image">
                    <img src="assets/images/mob_roblem_solving.png" alt="Computers">
                </div>
                <div class="collection__item__title">
                    Never stress about<br>
                    meetings again
                </div>
                <div class="collection__item__text">
                    Zonifero will measure how<br>
                    you use the rooms so that<br>
                    you always have enough<br>
                    rooms available.
                </div>
            </div>
            <div class="collection__item">
                <div class="collection__item__image">
                    <img src="assets/images/mob_roblem_solving.png" alt="Computers">
                </div>
                <div class="collection__item__title">
                    Find the right person<br>
                    in a breeze
                </div>
                <div class="collection__item__text">
                    Can't keep tracking of your<br>
                    peers in large office<br>
                    spce? Zonifero can<br>
                    pinpoint their location.
                </div>
            </div>
            <div class="collection__item">
                <div class="collection__item__image">
                    <img src="assets/images/mob_roblem_solving.png" alt="Computers">
                </div>
                <div class="collection__item__title">
                    Save your desk<br>
                    and room space
                </div>
                <div class="collection__item__text">
                    Zonifero will tell you which<br>
                    desks and rooms are in<br>
                    use and how many and <br>
                    which of them are idle.
                </div>
            </div>
            <div class="collection__item">
                <div class="collection__item__image">
                    <img src="assets/images/mob_roblem_solving.png" alt="Computers">
                </div>
                <div class="collection__item__title">
                    Swiftly introduce<br>
                    new employees
                </div>
                <div class="collection__item__text">
                    With built-in maps, Q&A<br>
                    and notifications, new<br>
                    bees can find their way<br>
                    around the office.
                </div>
            </div>


            <!--<li>-->

            <!--</li>-->
        </div>
        <ul class="collection__dots">
            <li>
                <a href="">.</a>
            </li>
            <li>
                <a href="">.</a>
            </li>
            <li>
                <a href="">.</a>
            </li>
            <li>
                <a href="">.</a>
            </li>



        </ul>

    </section>


    <section class="features">
        <div class="features__header">
            Features
        </div>
        <div class="features__background">
            <img src="assets/images/Layer%2078.png" style="visibility: hidden">
        </div>
        <div class="features__image">
            <img src="assets/images/Silver.png">
        </div>
        <div class="features__image-mobile">
            <img src="assets/images/mob_mobile.png">
        </div>
        <div class="features__arrows">
            <button class="features__arrows__left-arrow">
                <img src="assets/images/left-arrow.png">
            </button>
            <button class="features__arrows__right-arrow">
                <img src="assets/images/right-arrow.png">
            </button>
        </div>
<div class="features__text">
    <div class="features__text__title">
        Hot desk booking.<br>
        Like a pro.
    </div>
    <div class="features__text__content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique<br>
        velit id finibus convallis. Fusce eget purus aliquet libero euismod blandit<br>
        sed eu enim. Curabitur eget arcu ut augue.
    </div>
</div>

        <a href="" class="features__footer">
            <div class="features__footer__dots">
                ...............................................................................................................<br>
            </div>
            <div class="features__footer__text">
                View and download full specs
            </div>
        </a>
    </section>
</section>
<section class="room-booking">
    <div class="room-booking__col">
        <div class="room-booking__col__title">
            Room booking
        </div>
        <div class="room-booking__col__content">
            zonifero business supports meeting rooms booking.<br>
            Reservations can be made from the smartphone, tablet<br>
            in front of the room or directly from the calendar in<br>
            Office365 or G Suite. Room reservations can also be<br>
            made in companies that are not familiar with Office 365<br>
            or G Suite services.
        </div>
    </div>
    <div class="room-booking__image">
        <img src="assets/images/Space%20Gray.png">
    </div>
    <ul class="room-booking__features">
        <li><b>unlimited</b> rooms</li>
        <li><b>unlimited</b> employees</li>
        <li><b>10</b> floors</li>
    </ul>

</section>

<section class="drop-downs">
    <hr>
    <div class="drop-downs__item">
        Hot-desk booking
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Status of employees
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Request management
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Hot-desk booking
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Status of employees
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Request management
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Hot-desk booking
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <div class="drop-downs__item">
        Status of employees
    </div>
    <div class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </div>
    <hr>
    <span class="drop-downs__item">
        Request management
    </span>
    <span class="drop-downs__arrow">
        <img src="assets/images/down-arrow.png">
    </span>
    <hr>
</section>
<section class="system">
    <div class="system__col">
        <div class="system__col__title">
            System requirements
        </div>
        <div class="system__col__content">
            zonifero business supports meeting rooms booking. Reservations can<br>
            be made from the smartphone, tablet in front of the room or directly<br>
            from the calendar in Office365 or G Suite. Room reservations can also<br>
            be made in companies that are not familiar with Office 365 or G Suite<br>
            services.
        </div>
    </div>
    <div>
        <div class="system__col__title">
            24/7 Support
        </div>
        <div class="system__col__content">
            zonifero business supports meeting rooms booking. Reservations can<br>
            be made from the smartphone, tablet in front of the room or directly<br>
            from the calendar in Office365 or G Suite. Room reservations can also<br>
            be made in companies that are not familiar with Office 365 or G Suite<br>
            services.
        </div>
    </div>

</section>
<section class="download">
    <label class="download__title">
        Download
    </label>
    <label class="download__description">
        zonifero WorkPlace brochure and specification
    </label>
    <label class="download__description">
        PDF
    </label>
    <label class="download__description">
        19.31 MB
    </label>
    <button class="download__button">Download</button>
</section>

<section class="bring-back-21st">
    <div class="bring-back-21st__col">
        <div class="bring-back-21st__col__title">
            Bring your building<br>
            back to 21st century
        </div>
        <div class="bring-back-21st__col__content">
            The IoT allows your office to be sensed or controlled<br>
            remotely across existing network infrastructure. Track and<br>
            analyse workplace performance to gain your office <br>
            efficiency.
        </div>
    </div>
    <div class="bring-back-21st__image">
        <img src="/assets/images/Layer%2059.png">
    </div>
</section>
<ul class="hardware">
    <li class="hardware__col">
        <div class="hardware__col__title">
            Sensors
        </div>
        <div class="hardware__col__content">
            The integration of zonifero with motion sensors allows dynamic<br>
            display of occupancy of rooms and desks on the map. The<br>
            functionality is especially useful in the case of rapidly changing<br>
            availability of rooms. The use of motion sensors in the office allows<br>
            you to generate heat maps for offices.

        </div>
    </li>
    <li>
        <div class="hardware__col__title">
            Real-time conference room <br>
            and desk availability updates

        </div>
        <div class="hardware__col__content">
            Zonifero business supports the booking of hot-desks, meeting and<br>
            other rooms. Reservations can be made from the application on the<br>
            tablet in front of the room or directly from the calendar in Office365 or<br>
            G Suite. Room reservations can also be made for businesses that do<br>
            not use Office 365 or G Suite.
        </div>
    </li>
</ul>

<section class="partners">
    <div class="partners__title">
        Partners
    </div>
    <div class="partners__description">
        We only work with the best. Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit. Suspendisse tincidunt laoreet erat. Praesent laoreet.
    </div>
    <ul>
        <li class="partners__col">
            <div class="partners__col__logo">
                <img src="assets/images/logo_nsg.png">
            </div>
            <div class="partners__col__description">
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit. Suspendisse tincidunt<br>
                laoreet erat. Praesent laoreet.
            </div>
        </li>
        <li class="partners__col">
            <div class="partners__col__logo">
                <img src="assets/images/Layer%20504.png">
            </div>
            <div class="partners__col__description">
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit. Suspendisse tincidunt<br>
                laoreet erat. Aliquam erat volutpat.
            </div>
        </li>
        <li class="partners__col">
            <div class="partners__col__logo">
                <img src="assets/images/logo_nsg.png">
            </div>
            <div class="partners__col__description">
                Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit. Suspendisse tincidunt<br>
                laoreet erat. Aliquam erat.
            </div>
        </li>
    </ul>


</section>

<section class="optimization">
    <div class="optimization__col">
        <div class="optimization__col__title">
            Zoptymalizuj koszty <br>
            i ergonomię biura <br>
            z Zonifero
        </div>
        <div class="optimization__col__content">
            Zarządzaj świadomie rozwojem biura, optymalizuj koszty<br>
            związane z usługami i powierzchnią a także podnoś<br>
            komfort pracy dzięki jednemu systemowi.
        </div>
    </div>
    <div class="optimization__image">
        <!--<img src="assets/images/devices.png">-->
    </div>
</section>

<ul class="numbers">
    <li class="numbers__col">
        <div class="numbers__col__title">
            523%
        </div>
        <div class="numbers__col__content">
            Długoterminowe korzyści z wdrożenia Zonifero wynoszą co najmniej<br>
            523%* w stosunku do wydanej kwoty. Lorem ipsum dolor sit amet,<br>
            consectetur adipiscing elit. Nunc tempor sem sit amet purus maximus,<br>
            eu fringilla orci rhoncus.<br><br>

            * Wyliczenia są zależne od lokalizacji biura
        </div>
    </li>
    <li class="numbers__col">
        <div class="numbers__col__title">
            320+
        </div>
        <div class="numbers__col__content">
            Długoterminowe korzyści z wdrożenia Zonifero wynoszą co najmniej<br>
            523%* w stosunku do wydanej kwoty. Lorem ipsum dolor sit amet,<br>
            consectetur adipiscing elit. Nunc tempor sem sit amet purus maximus,<br>
            eu fringilla orci rhoncus.<br><br>

            * Wyliczenia są zależne od lokalizacji biura
        </div>
    </li>
</ul>
<ul class="shop">
    <li class="shop__col">
        <div class="shop__title">
            Shop zonifero accesories
        </div>
        <div class="shop__description">
            Lorem ipsum dolor sit amet, consectetur<br>
            adipiscing elit. Aenean dignissim felis id
        </div>
        <button class="shop__button">
            Contact us
        </button>
    </li>
    <li class="shop__col__image">
        <!--<img src="assets/images/ class="top-image">-->
        <img src="assets/images/%20Lobby%20Starter%20Kit.png" class="shop__image__middle">
        <img src="assets/images/uchwyt.png">

    </li>
    <li class="shop__col__image">

    </li>
    <li class="shop__col__image">
    </li>
</ul>


</body>
</html>
