@import "colors";

.form-navigation {
    display: flex;
    justify-content: center;
    padding-top: 10vw;
    padding-bottom: 5vw;
    &__col {
        margin-right: 3vw;
        font-size: 1rem;
        &:after {
        display: block;
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -5px;
        border-bottom: 3px solid $secondary-green;
        transition: width 0.3s;

    }
        &:hover {
            text-shadow: 0 0 $black;
            position: relative;

            &:after {
                width: 100%;
                display: block;
                content: "";
                position: absolute;
                height: 3px;
                bottom: -5px;
                border-bottom: 3px solid $secondary-green;

            }
        }
    }

    & a {
        text-decoration: none;
        color: $black;
    }

}

.selected {
    text-shadow: 0 0 $black;
    position: relative;
    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 30%;
        height: 3px;
        bottom: -5px;
        border-bottom: 3px solid $secondary-green;
        transition: width 0.5s;

    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
}



.form-row {
    display: flex;
    padding-left: 17vw;
}

.form-col {
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 6vw;
    &--message {
        width: 77.5%;
    }
    &__label {
        font-size: 0.8rem;
        padding-bottom: 1vw;
        padding-top: 1vw;
    }
}


.form-dots {
    background-image: linear-gradient(to right, black 20%, rgba(255, 255, 255, 0) 0%);
    background-size: 10px 1px;
    height: 3px;
    background-repeat: repeat-x;
}

.form-input {
    border: none;
    //border-bottom: 1px dotted $black;
    height: 3vw;
    font-size: 1.8rem;
    vertical-align: center;
    position: relative;
    background-color: $white;

}

.form-mess {
    height: auto;
    resize: none;
}

.required {
    &:after {
        content: "*";
        color: $primary-blue
    }
}
.accepted{
    display: flex;
    background: url("../images/ptaszek.png") no-repeat;
    background-position: right ;
    //&:after{
    //    content: "✓";
    //    color: $primary-blue;
    //    justify-content: flex-end;
    //}
}
.submit-button-container {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    .submit {
        background-color: $primary-blue;
        border: none;
        color: $white;
        padding: 1vw 2vw;
        justify-self: center;
    }
}

@media only screen and (max-width: 600px) {
    .form-navigation {
        padding-top: 35vw;
        padding-bottom: 20vw;
        padding-left: 5vw;
        justify-content: left;
        &__col{
            padding-right: 10vw;
        }
    }
    .form-row {
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .form-col {
        width: 100%;
        padding-bottom: 8vw;
        //border-bottom: 1px dotted $black;
    }

    .form-input {
        min-height: 15vw;
        font-size: 2rem;
        word-wrap: break-word;
        overflow-wrap: normal
    }
    .form-mess {
        height: auto;
        margin-bottom: 1vw;
        resize: none;
        &:after {
            //height: 15vw;
            display: inline-block;
            content: ' ';
        }
    }
    .submit-button-container {
        .submit {
            padding: 5vw 10vw;
        }
        padding-bottom: 24vw;
    }
    .accepted{
        background-image: none;
    }
}


