// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@import "menu";
@import "invitation";
@import "colors";
@import "staff.scss";
@import "problem-solving";
@import "feature";
@import "bring-your-buildings";
@import "form";
@import "footer";


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}











.room-booking {
    padding-top: 6vw;
    &__col {
        padding-left: 17vw;
        float: left;

        &__title {
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5vw;
            letter-spacing: -0.1vw;

        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
    &__image {
        float: left;
        margin-top: -4vw;
        margin-left: 4vw;
    }
    &__features {
        float: left;
        margin-left: 4vw;
        list-style-type: none;
    }

}

.drop-downs {
    clear: left;
    hr {
        clear: left;
        display: block;
        margin-left: 15vw;
        margin-right: 15vw;
        border: 0.001vw inset $primary-grey;
    }
    &__item {
        float: left;
        padding-left: 17vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 1vw;
        font-weight: bold;

    }
    &__arrow {
        float: right;
        padding-right: 17vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
}

.system {
    &__col {
        float: left;
        padding-left: 17vw;
        padding-right: 6vw;
        &__title {
            padding-top: 5vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5vw;
            letter-spacing: -0.1vw;
        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}

.download {
    margin-left: 17vw;
    margin-right: 15vw;
    margin-top: 5vw;
    font-size: 1vw;
    padding: 2vw;
    background-color: $primary-grey;

    &__title {
        font-weight: bold;

    }
    &__description {
        font-weight: 100;
        padding-left: 2vw;
    }
    &__button {
        float: right;
        background-color: $primary-blue;
        border: none;
        color: $white;
        padding: 1vw 2vw;
    }
}





.partners {
    margin-left: 17vw;
    &__title {
        padding-top: 5vw;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5vw;
        letter-spacing: -0.1vw;
    }
    &__description {
        padding-top: 3vw;
        font-size: 0.9vw;
        font-weight: 100;
    }
    &__col {
        list-style-type: none;
        float: left;
        margin-top: 5vw;
        margin-right: 3vw;
        &__logo {

        }
        &__description {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}

.optimization {
    clear: both;
    padding-left: 17vw;
    padding-top: 5vw;
    //background: url("../images/devices.png") no-repeat right;
    &__col {
        float: left;
        display: block;

        &__title {

            //padding-top: 10vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 3.4vw;
            letter-spacing: -0.2vw;
        }
        &__content {
            padding-top: 3vw;
            font-size: 1.5vw;
            font-weight: 100;
            float: left;
            padding-bottom: 15vw;
        }
    }
    &__image {
        float: right;
        padding-top: 0px;
    }
}

.numbers {
    clear: both;
    list-style-type: none;
    padding-left: 17vw;
    &__col {
        float: left;
        margin-right: 5vw;
        &__title {
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 3vw;
            letter-spacing: -0.12vw;

        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}







