// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

}

.header-mobile {
    visibility: hidden;
}

.logo {
    float: left;
    margin-left: 5vw;
    margin-top: 3vw;
    display: flex;
}

.head {
    //float: right;
    margin:0vw;
    //margin-bottom: 2vw;
    display: flex;
    list-style-type: none;
    flex-flow: nowrap;
    justify-content: right;

    &__items {
        padding-top: 2vw;
        margin-right: 2vw;
        align-self: flex-start;
        &__small {
            font-size: 0.75vw;
            padding-top: 2vw;
            margin-right: 2vw;

        }
        &__get {
            font-size: 0.75vw;

            align-items: flex-start;
            background-color: #3046FF;
            color: #FFFFFF;
            padding-top: 2vw;
            padding-right: 8vw;
            border: none;
            background-color: #3046FF;
            padding-left: 2vw;
            padding-bottom: 1vw;

        }
        button {
            //padding-top: 2vw;
            font-size: 0.85vw;
            letter-spacing: -0.05vw;

            border: none;
            background-color: #FFFFFF;
        }
    }

    //&__items {
    //    list-style-type: none;
    //    float: left;
    //    display: block;
    //    padding: 3vw 2vw 2vw;
    //
    //    &__small {
    //        list-style-type: none;
    //        float: left;
    //        display: block;
    //        padding: 3vw 2vw 2vw;
    //
    //        font-size: 0.75vw;
    //    }
    //    &__get {
    //        list-style-type: none;
    //        float: left;
    //        display: block;
    //        background-color: #3046FF;
    //        color: #FFFFFF;
    //        padding: 3vw 8vw 1vw 2vw;
    //    }
    //}
}

.navigation {
    clear: right;
    margin-top: 0vw;
    padding: 0vw;
    margin-left: 15vw;
    margin-right: 5vw;
    list-style-type: none;
    background-color: #FFFFFF;
    display: flex;
    width: 50%;
    justify-content: space-around;

    &__items {
        font-size: 1vw;

        &__first {
            font-size: 1vw;
        }
        &:hover {
            font-size: 1vw;
            font-weight: bold;
            text-decoration: underline;
            text-decoration-color: #00FFCC;
            &:after {

            }
        }
    }
    //&__items{
    //    float: left;
    //    display: block;
    //    padding: 2vw;
    //    padding-top: 0vw;
    //    font-size: 1vw;
    //
    //}
}

.content-mobile {
    visibility: hidden;
}

.content {
    list-style-type: none;
    background: #F7F7F7 url("../images/first_section_bg.png") no-repeat;
    /*background-color: #F7F7F7;*/
    clear: left;
    height: content-box;
    margin: 0vw;
    &__title {
        color: #3046FF;
        font-size: 3vw;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        float: left;
        background-color: #F7F7F7;
        margin-top: 10vw;
        margin-left: 17vw;
    }
    &__hand {
        float: right;
        display: block;
        margin: 2vw;
        margin-top: -27vw;
        margin-bottom: -27vw;
        //background-image: url("../images/hand.png");
    }
    &__mob-hand {
        visibility: hidden;
    }
    &__text {

        font-size: 1.2vw;
        clear: both;
        margin-left: 17vw;
        margin-top: -5vw;
        padding-top: 2vw;
    }
    &__google {
        margin-left: 17vw;
        float: left;
        padding-top: 2vw;
        padding-right: 1vw;
    }
    &__app {
        padding-top: 2vw;

    }
}

.members {
    margin: 0vw;
    list-style-type: none;
    padding-top: 0vw;
    padding-left: 17vw;
    background-color: #F7F7F7;
    width: 100%;
    display: flex;
    &__col {
        //float: left;
        //display: block;
        padding-right: 4.5vw;
        background-color: #F7F7F7;

        &__title {
            clear: left;
            font-size: 1.5vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            background-color: #F7F7F7;

        }
        &__text {
            font-size: 1vw;
            font-weight: 300;
            padding-top: 1vw;
            background-color: #F7F7F7;

        }
    }
}

.prob-sol {
    clear: left;
    padding-left: 17vw;
    margin-top: 10vw;
    background-color: #F7F7F7;
    &__header {
        clear: left;
    }
}

.collection {
    background-color: #F7F7F7;
    list-style-type: none;
    display: flex;
    padding: 0vw;
    margin: 0vw;
    &__item {
        //float: left;
        margin-right: 1vw;
        background-color: #FFFFFF;
        padding: 2.5vw;
        margin-top: 1.5vw;
        &__image {

        }
        &__title {
            clear: left;
            font-size: 1vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
        &__text {
            font-size: 0.8vw;
            font-weight: 300;
            padding-top: 1vw;
        }
    }

}

.features {
    clear: left;
    margin-top: 10vw;
    background: #3046FF;
    &__header {
        padding-left: 17vw;
        background-color: #F7F7F7;

    }
    &__background {
        background: url("../images/Layer 78.png") no-repeat;
        background-size: cover;
    }
    &__image {
        margin-top: -26.5vw;
        margin-left: 58vw;
        //background: #3046FF;
    }
    &__title {
        padding-left: 17vw;
        letter-spacing: -0.2vw;
        font-family: 'Poppins', sans-serif;
        color: #FFFFFF;
        font-size: 2.5vw;
        font-weight: bolder;
        //background: #3046FF;
        padding-top: 5vw;
        margin-top: -10vw;

    }
    &__content {
        float: right;
        color: #FFFFFF;
        font-weight: 100;
        //background: #3046FF;
        margin-right: 20vw;

    }
    &__footer {
        text-align: center;
        color: #FFFFFF;
        //background: #3046FF;
        margin-top: 7vw;
        padding-bottom: 1vw;

    }
}

.room-booking {
    padding-top: 6vw;
    &__col {
        padding-left: 17vw;
        float: left;

        &__title {
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5vw;
            letter-spacing: -0.1vw;

        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
    &__image {
        float: left;
        margin-top: -4vw;
        margin-left: 4vw;
    }
    &__features {
        float: left;
        margin-left: 4vw;
        list-style-type: none;
    }
}

.drop-downs {
    clear: left;
    hr {
        clear: left;
        display: block;
        margin-left: 15vw;
        margin-right: 15vw;
        border: 0.001vw inset #FEFFFF;
    }
    &__item {
        float: left;
        padding-left: 17vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 1vw;
        font-weight: bold;

    }
    &__arrow {
        float: right;
        padding-right: 17vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
}

.system {
    &__col {
        float: left;
        padding-left: 17vw;
        padding-right: 6vw;
        &__title {
            padding-top: 5vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5vw;
            letter-spacing: -0.1vw;
        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}

.download {
    margin-left: 17vw;
    margin-right: 15vw;
    margin-top: 5vw;
    font-size: 1vw;
    padding: 2vw;
    background-color: #F7F7F7;

    &__title {
        font-weight: bold;

    }
    &__description {
        font-weight: 100;
        padding-left: 2vw;
    }
    &__button {
        float: right;
        background-color: #3046FF;
        border: none;
        color: white;
        padding: 1vw 2vw;
    }
}

.bring-back-21st {
    padding-left: 17vw;
    padding-top: 5vw;
    &__col {
        float: left;
        &__title {
            padding-top: 10vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 3.4vw;
            letter-spacing: -0.2vw;
        }
        &__content {
            padding-top: 3vw;
            font-size: 1.5vw;
            font-weight: 100;
        }
    }
    &__image {
        margin-left: 40vw;
    }
}

.hardware {
    list-style-type: none;
    padding-left: 17vw;
    &__col {
        float: left;
        margin-right: 5vw;
        &__title {
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1vw;
            letter-spacing: -0.12vw;

        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}

.partners {
    margin-left: 17vw;
    &__title {
        padding-top: 5vw;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5vw;
        letter-spacing: -0.1vw;
    }
    &__description {
        padding-top: 3vw;
        font-size: 0.9vw;
        font-weight: 100;
    }
    &__col {
        list-style-type: none;
        float: left;
        margin-top: 5vw;
        margin-right: 3vw;
        &__logo {

        }
        &__description {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}

.optimization {
    clear: both;
    padding-left: 17vw;
    padding-top: 5vw;
    background: url("../images/devices.png") no-repeat right;
    &__col {
        float: left;
        display: block;

        &__title {

            //padding-top: 10vw;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 3.4vw;
            letter-spacing: -0.2vw;
        }
        &__content {
            padding-top: 3vw;
            font-size: 1.5vw;
            font-weight: 100;
            float: left;
            padding-bottom: 15vw;
        }
    }
    &__image {
        float: right;
        padding-top: 0px;
    }
}

.numbers {
    clear: both;
    list-style-type: none;
    padding-left: 17vw;
    &__col {
        float: left;
        margin-right: 5vw;
        &__title {
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 3vw;
            letter-spacing: -0.12vw;

        }
        &__content {
            padding-top: 3vw;
            font-size: 0.9vw;
            font-weight: 100;
        }
    }
}
//.shop{
//    clear: left;
//    list-style-type: none;
//    display: flex;
//    padding-top: 5vw;
//    width: 100%;
//    background-color: #F7F7F7;
//    &__col{
//        flex: 1;
//        &__image{
//
//        }
//
//
//    }
//
//}
//.top-image{
//    position-x;
//    top:0;
//    left: 0;
//}

@media only screen and (max-width: 700px) {
    header{
        visibility: hidden;
        height: 0px;
        margin: 0vw;
        padding: 0vw;
    }
    .header-mobile{
        margin-top: 5vw;

        visibility: visible;
        display: flex;
        align-items: left;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 10vw;

        &__item{
            flex: 1;
            flex-wrap: nowrap;
        }

    }
    .navigation{
        visibility: hidden;
        width: 0px;
    }
    .content-mobile{
        margin-top: 0vw;
        visibility: visible;
        background-color: #F7F7F7;
        padding-bottom: 10vw;
        &__title{
            font-size: 8vw;
            margin-left: 0vw;
            list-style-type: none;
            padding-bottom: 20vw;
            padding-top: 10vw;

            color: #3046FF;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            background-color: #F7F7F7;
            margin-top: 0vw;
        }
    }
    .content{
        margin-top: 0vw;
        padding-left: 5vw;
        background: #F7F7F7 url("../images/desks.png") no-repeat;

        background-size: contain;
        display: flex;
        flex-wrap: wrap;
        &__title{
            visibility: hidden;
            height: 0px;
        }
        &__hand{
            visibility: hidden;
            height: 0px;
            margin: 0px;
        }
        &__mob-hand{
            visibility: visible;
            margin-top: -30vw;
            justify-self: center;
            order: 1;

        }
        &__text{
            font-size: 3vw;
            margin-top: 3vw;
            order:2;
            margin-left: 0vw;
        }
        &__google{
            order: 3;
            align-self: left;
            margin-left: 0vw;
        }
        &__app{
            order: 4;
        }
    }
}
.members{
    padding-left: 5vw;
    &__col{
        &:first-child{
            visibility: visible;

            &__title{
                font-size: 15vw;
                width: available;
            }
        }
        visibility: hidden;
        width: 0vw;


    }
}
.members__col:first-child{
    width: 100%;
    &__title{
        font-size: 15vw;
    }
}
